<form [formGroup]="sixthForm" class="step-container">  
    <table class="table appTable">
        <thead>
            <tr>
                <th>
                    Invoice No
                </th>
                <th>
                    Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Operation No
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Status
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of invoices; let i = index;'>
                <td>{{item.invoice_no}} </td>
                <td>{{item.invoice_date}}</td>
                <td>{{item.invoice_due_date}}</td>
                <td>{{item.customer?.name}}</td>
                <td>{{item.operation.operation_no}} </td>
                <td>{{item.currency.name}} </td>
                <td>{{GetInvoiceStatus(item.status)}}</td>
                <td>
                    <app-print-button (click)="print(item)"></app-print-button>
                    <app-edit-button (click)='editInvoiceItem(item)'></app-edit-button>
                    <app-delete-button [itemId]='item.id' (yes)='deleteInvoiceItem($event)'>
                    </app-delete-button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <div class="row">
        <div class="col-md-8">
        <button status="basic" nbButton nbStepperPrevious> Previous </button>
        </div>
        <div class="col-md-4">
        <div class="row">
            <div class="col-md-7">
            <select class="form-select" formControlName='status' aria-label="... Select Status...">
                <option  *ngFor='let item of steps' value="{{item.id}}">{{item.name}}</option>
            </select>  
            </div>
            <div class="col-md-5">
            <button status="primary" (click)='NextStep()' class="float-right" nbButton nbStepperNext style> Next Step</button>                        
            </div>
        </div> 
        </div>
    </div>
    </form>