<nb-card>
    <nb-card-header>
        <app-back-button routerLink="/accounting-manager/journal-transactions"></app-back-button>
        Create New Transaction
    </nb-card-header>
    <nb-card-body> 
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <!-- <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Transaction Type</label>
                    <select class="form-select" formControlName='transaction_type_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of types' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div> -->
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Currency</label>
                    <select class="form-select" formControlName='currency_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of currency_types' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Date</label>
                    <input fullWidth type="date" formControlName='transaction_date' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Account Type</label>
                    <select class="form-select" formControlName='account_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Journal</label>
                    <select class="form-select" formControlName='journal_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of journals' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Amount</label>
                    <input fullWidth type="number" formControlName='amount' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Description</label>
                    <input fullWidth type="text" formControlName='description' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Reference</label>
                    <input fullWidth type="text" formControlName='reference_no' class="form-control">
                </div>
                <div class="form-group ml-2 mr-2 mt-3">
                    <app-save-button (click)="create()"> Save</app-save-button> 
                </div>
            </div>
             <!-- <div formArrayName="transactions" *ngFor="let transaction of gettransactionItems().controls; let i = index" class="row">
                <div [formGroupName]="i">
                    <div class="col-sm-6">
                        <div class="ml-2 mr-2 mt-3">
                            <h6>Transaction {{i + 1}}</h6>
                        </div>
                        <div class="form-group  ml-2 mr-2">
                            <label class="form-label" for="'account_id'+i">Account</label>
                            <select class="form-select" id="'account_id'+i" formControlName='account_id' aria-label="... Select ...">
                                <option selected>... Select ...</option>
                                <option *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group  ml-2 mr-2">
                            <label class="form-label" for="'debit'+i">Debit</label>
                            <input  type="number" formControlName='debit' id="'debit'+i" class="form-control">
                        </div>
                        <div class="form-group  ml-2 mr-2">
                            <label class="form-label" for="'credit'+i">Credit</label>
                            <input  type="number" formControlName='credit' id="'credit'+i" class="form-control">
                        </div>
                        <div class="form-group  ml-2 mr-2">
                            <label class="form-label" for="'description'+i">Description</label>
                            <input  type="text"  id="'description'+i" formControlName='description' class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <app-delete-button class="pull-right" (click)='deleteTransactionItem(i)'></app-delete-button>
                    </div>
            </div>
            </div>
            <div class="form-group row ml-2 mr-2 mt-3">
                <div class="col-md-offset-2 col-md-4">
                  <button type="button" class="btn btn-primary" (click)="addButtonClick()">
                    Add New
                  </button> -->
                <!-- </div> -->
              <!-- </div> -->
        </form>
    </nb-card-body>
</nb-card>
