<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
            <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
            </nb-icon>
            </a>
        <a routerLink="/operation-manager">
            Operation Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/operation-manager'>  </nb-icon>
          </a> Expenses
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <!-- <app-add-button routerLink='create'> Create New</app-add-button> -->
        </div>
        <app-search-input [data]='expenses' [fields]="['amount', 'reference_no']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Operation </th>
                    <th> Product </th>
                    <th> Reference No </th>
                    <!-- <th> Quantity</th>
                    <th> Unit Cost</th> -->
                    <th> Amount </th>
                    <th> Status</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of expenses; let i = index;'>
                    <td> {{item.operation.operation_no}}</td>
                    <td> {{item.product.name}}</td>
                    <td> {{item.reference_no}}</td>
                    <!-- <td> {{item.quantity}}</td>
                    <td> {{item.unit_cost}}</td> -->
                    <td> {{item.amount}}</td>
                    <td>
                        <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                      </td>
                    <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>
