<nb-card>
    <nb-card-header>
        <fidel-back-button routerLink='/operation-manager/waybill'></fidel-back-button>
        Create New Waybill
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6 col-md-4">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Operation</label>
                    <nb-select fullWidth formControlName='operation_id' placeholder='... Select ...' required>
                        <nb-option *ngFor='let item of operations' value="{{item.id}}">{{item.operation_no}}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Truck No</label>
                    <input fullWidth type="text" formControlName='truck_no' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Departure Date</label>
                    <input fullWidth type="date" formControlName='departure_date' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Destination </label>
                    <input fullWidth type="text" formControlName='destination' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Driver Name</label>
                    <input fullWidth type="text" formControlName='driver_name' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Driver Tel.</label>
                    <input fullWidth type="text" formControlName='driver_tel' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Transporter</label>
                    <input fullWidth type="number" formControlName='transporter' class=" form-control">
                </div>              
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Rate Agree</label>
                    <input fullWidth type="text" formControlName='rate_agree' class=" form-control">
                </div>     
            </div>
            <div class="col-sm-6 col-md-4">            
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Clearance Office</label>
                    <input fullWidth type="text" formControlName='clearance_office' class=" form-control">
                </div>             
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Loading Request</label>
                    <input fullWidth type="text" formControlName='loading_request' class=" form-control">
                </div>             
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> ETA</label>
                    <input fullWidth type="text" formControlName='eta' class=" form-control">
                </div>           
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Remark</label>
                    <input fullWidth type="text" formControlName='remark' class=" form-control">
                </div>
                <div class="form-group ml-2">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>