<nb-card>
    <nb-card-header>
        <app-back-button routerLink="/accounting-manager/reconciliations"></app-back-button>
        Create New Reconciliation
    </nb-card-header>
    <nb-card-body> 
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Statement Ref</label>
                    <input fullWidth type="text" formControlName='statement_ref' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Account</label>
                    <select class="form-select" formControlName='account_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Beggining Balance</label>
                    <input fullWidth type="number" formControlName='beg_balance' class="form-control" required>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Ending Balance</label>
                    <input fullWidth type="number" formControlName='end_balance' class="form-control" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Start Date</label>
                    <input fullWidth type="date" formControlName='start_date' class="form-control" required>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">End Date</label>
                    <input fullWidth type="date" formControlName='end_date' class="form-control" required>
                </div>
                <div class="form-group ml-2 mr-2">
                    <label class="form-label">Remarks</label>
                    <input fullwidth type="text" formControlName="remarks" class="form-control" required>
                </div>
                <div class="form-group ml-2 mr-2 mt-3">
                    <app-save-button (click)="create()">Save</app-save-button> 
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>