<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/invoice-manager/invoices/{{invoice_type}}'></app-back-button>
        Edit {{invoice_type}} Invoice
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6 col-md-4">
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Customer</label>
                    <select class="form-select" formControlName='customer_id' aria-label="... Select ...">
                        <option  *ngFor='let item of customers' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Operation</label>
                    <select class="form-select" formControlName='operation_id' aria-label="... Select ...">
                        <option  *ngFor='let item of operations' value="{{item.id}}">{{item.operation_no}} </option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Invoice No</label>
                    <input fullWidth type="text" formControlName='invoice_no' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Invoice Date</label>
                    <input fullWidth type="date" formControlName='invoice_date' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Currency</label>
                    <select class="form-select" formControlName='currency_id' aria-label="... Select ...">
                        <option  *ngFor='let item of currencies' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Amount</label>
                    <input fullWidth type="number" formControlName='amount' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4"> 
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Consignee </label>  
                    <select class="form-select" formControlName='consignee_id' aria-label="... Select ...">
                        <option  *ngFor='let item of consignees' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Remark</label>
                    <input fullWidth type="text" formControlName='remarks' class=" form-control">
                </div>
                <div class="form-group ml-2 mt-30">
                    <app-save-button (click)='update()'> Update
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>