body {
    font-size: 9px;
    font-family: Geneva,Arial,Helvetica,sans-serifi;
}
thead.head
{
    background-color: #F7F7F7;
}
table td, table th {
    border: 1px solid #666;
    padding: 5px;
    font-size: 12px;
}
div#invoice-report-div{
    border:1px solid #cdc4c4;
}
// body{
//     background-color: darkslategrey;
// }
.table-bordered {
    border: 1px solid #dee2e6 !important;
}
.terms h5 {
    text-transform: uppercase;
    font: 13px Helvetica, Sans-Serif;
    letter-spacing: 10px;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
}
.terms {
    text-align: center;
    margin: 20px 0 0 0;
}
