<hr/>
<button  
class="btn btn-primary" type="button" id="print" (click)="PrintElement()">
    Print Report 
</button>
<hr/>
<div class="container" id="invoice-report-div" style="background-color: white;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 mt-1">
            <img style="height:110px;" src="assets\Images\header.png" alt="Company Logo">
            <!-- <img src="assets\Images\header-1.png" alt="Company Info"> -->
            <!-- <div>
                <p style="text-align: center;"> STUFFING REPORT </p> 
            </div> -->
        </div>
    </div>
    
    <h4 style="text-align: center;"> STUFFING REPORT </h4>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <table class="table table-bordered">   
                <thead>
                    <tr>
                        <th> Operation No </th>
                        <td>{{data.operation_no}}</td>
                        <th>Reference</th>
                        <td>{{data.reference_no}}</td>
                    </tr>
                    <tr>
                        <th> Shipper </th>
                        <td>{{data.consignee.name}}</td>
                        <th> Freight Forwarder </th>
                        <td>{{data.customer.name}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{data.description}}</td>
                        <th>Destination</th>
                        <td>{{data.destination}}</td>
                    </tr>
                    <tr>
                        <th> Booking No </th>
                        <td>{{data.booking_no}}</td>
                        <th>Agent</th>
                        <td>{{data.agent.name}}</td>
                    </tr>
                    <tr>
                        <th> Vessel Name </th>
                        <td>{{data1.vessel_name}}</td>
                        <th>Voyage No</th>
                        <td>{{data1.voyage_no}}</td>
                    </tr>
                    <tr>
                        <th> Arrival Date </th>
                        <td>{{data.arrival_date}}</td>
                        <th>Declaration No</th>
                        <td>{{data1.declaration_no}}</td>
                    </tr>
                    <tr>
                        <th>Container Status</th>
                        <td>{{data.status}}</td>
                        <th>Stuffing Date</th>
                        <td>{{data1.stuffing_date}}</td>
                    </tr>
                    <tr>
                        <th>Gross Weight</th>
                        <td>{{data.gross_weight}}</td>
                        <th>Reception Date</th>
                        <td>{{data.reception_date}}</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td>{{data.quantity}}</td>
                        <th>Printed Date</th>
                        <td>{{today}}</td>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Fumigation</th>
                        <td>{{data1.fumigation}}</td>
                        <th>Weight Inspection</th>
                        <td>{{data1.weight_inspection}}</td>
                    </tr>
                    <tr>
                        <th>Inspection</th>
                        <td>{{data1.inspection}}</td>
                        <th>Craft Paper</th>
                        <td>{{data1.craft_paper}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                <table class="table table-bordered">   
                    <thead class="head">
                        <tr>
                            <th> No </th>
                            <th>Container No</th>
                            <th> Seal</th>
                            <th> Type </th>
                            <th>Track No</th>
                            <th>Certification</th>
                            <th>Quantity</th>
                            <th>Gross Weight</th>
                            <th>Net Weight</th>
                            <th>VGM</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data2;let indexOfelement=index;">
                            <td>{{indexOfelement+1}}</td>
                            <td>{{item.container_no}}</td>
                            <td>{{item.seal}}</td>
                            <td>{{item.track_no}}</td>
                            <td>{{item.certification}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.gross_weight}}</td>
                            <td>{{item.net_weight}}</td>
                            <td>{{item.vgm}}</td>
                            <td>{{item.location}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: right;margin-right:3px">
                                <b>Total</b>
                            </td>
                            <td> <b>0</b> </td>
                            <td> <b>0</b> </td>
                            <td> <b>0</b> </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>