<nb-card>
    
    <nb-card-header>
        <a routerLink="/home"> Home
            <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
            </nb-icon>
            </a>
        <a routerLink="/operation-manager">
            Operation Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/operation-manager'>  </nb-icon>
          </a> Waybills
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <app-add-button routerLink='create'> Create New</app-add-button>
        </div>
        <app-search-input [data]='waybills'
         [fields]="['operation_no', 'truck_no','departure_date','loading_request', 'transporter','destination','consignee','freight_forwarder']"  
         (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th>
                         Operation No
                    </th>
                    <th>
                        Truck No
                    </th>
                    <th>
                        Departure Dtae
                    </th>
                    <th>
                        Loading Req
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Consignee
                    </th>
                    <th>
                        Freight Forwarder
                    </th>
                    <th> Status </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let waybill of waybills; let i = index;'>
                    <td>{{waybill.operation_no}}</td>
                    <td>{{waybill.truck_no}}</td>
                    <td>{{waybill.departure_date}}</td>
                    <td>{{waybill.loading_request}}</td>
                    <td>{{waybill.destination}}</td>
                    <td>{{waybill.consignee}}</td>
                    <td>{{waybill.freight_forwarder}}</td>
                    <td>
                        <app-toggle-button [itemId]="waybill.id" type='status' [checked]='waybill.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                    </td>
                    <td>
                        <app-edit-button (click)='edit(waybill)'></app-edit-button>
                        <app-delete-button [itemId]='waybill.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>