<nb-card>
    <nb-card-header>                
      <a routerLink="/home"> Home
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
          </nb-icon>
          </a>
      <a routerLink="/accounting-manager">
          Accounting Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/accounting-manager'>  </nb-icon>
        </a> Reconciliation
    </nb-card-header>
    <nb-card-body>
           
      <div>
        <div class="row">
          <div class="col-md-6 col-sm-12 float-left">
              <app-add-button routerLink="create"> Add New </app-add-button>
          </div>
          <div class="col-md-6 col-sm-12 float:right">
              <app-search-input (result)='searchOutput($event)' [data]='reconcilations'
                  [fields]="['account','statement_ref']">
              </app-search-input>
          </div>
        </div>

    </div>   
        <table class="table appTable">
          <thead class="headTable">
              <tr>
                  <th>
                    Statement Ref
                  </th>
                  <th>
                    Account
                  </th>
                  <th>
                    Beggining Balance
                  </th>
                  <th>
                    Ending Balance
                  </th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Remarks</th>
                  <th>Status</th>
                  <th> Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let item of reconcilations'>

                  <td>{{item.statement_ref}}</td>
                  <td>{{item.account?.name}}</td>
                  <td>{{item.beg_balance}}</td>
                  <td>{{item.end_balance}}</td>
                  <td>{{item.start_date | date}}</td>  
                  <td>{{item.end_date | date}}</td>
                  <td>{{item.remarks}}</td>  
                  <td>
                    <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                        (toggle)='toggleStatus($event)'>
                    </app-toggle-button>
                  </td>
                  <td>
                    <app-edit-button (click)='edit(item)'></app-edit-button>
                    <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                  </td>
              </tr>
          </tbody>
      </table>
      <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
    </nb-card-body>
  </nb-card>
