<nb-card>
    <nb-card-header>
        <app-back-button routerLink="/accounting-manager/journal-transactions"></app-back-button>
        Edit Transaction
    </nb-card-header>
    <nb-card-body> 
        <form [formGroup]="model">
            <div class="row">                
                <div class="col-sm-6">
                    <!-- <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Transaction Type</label>
                        <select class="form-select" formControlName='transaction_type_id' aria-label="... Select ...">
                            <option selected>... Select ...</option>
                            <option *ngFor='let item of types' value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div> -->
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Currency</label>
                        <input  type="hidden" formControlName='id'>
                        <select class="form-select" formControlName='currency_id' aria-label="... Select ...">
                            <option selected>... Select ...</option>
                            <option *ngFor='let item of currency_types' value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Date</label>
                        <input fullWidth type="date" formControlName='transaction_date' class="form-control">
                    </div>
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Journal</label>
                        <select class="form-select" formControlName='journal_id' aria-label="... Select ...">
                            <option selected>... Select ...</option>
                            <option *ngFor='let item of journals' value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Amount</label>
                        <input fullWidth type="number" formControlName='amount' class="form-control">
                    </div>
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Description</label>
                        <input fullWidth type="text" formControlName='description' class="form-control">
                    </div>
                    <div class="form-group  ml-2 mr-2">
                        <label class="form-label">Reference</label>
                        <input fullWidth type="text" formControlName='reference_no' class="form-control" required>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <table class="table table-bordered"> 
                    <thead>
                        <tr>
                            <th>
                              Account
                            </th>
                            <th>
                              Debit
                            </th>
                            <th>
                              Credit
                            </th>
                            <th>
                              Description
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="transaction_items">
                        <tr *ngFor="let itemrow of getFormArray().controls; 
                        let i = index" [formGroupName]="i">
                            <td>
                                <input  type="hidden" formControlName='id' id="'id'+i">
                                <input  type="hidden" formControlName='transaction_id' id="'transaction_id'+i">
                                <select class="form-select" id="'account_id'+i" formControlName='account_id' aria-label="... Select ...">
                                    <option selected>... Select ...</option>
                                    <option *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                                </select> 
                            </td>
                            <td>
                                <input  type="number" formControlName='debit' id="'debit'+i" class="form-control">
                            </td>
                            <td>
                                <input  type="number" formControlName='credit' id="'credit'+i" class="form-control">
                            </td>
                            <td>
                                <input  type="text"  id="'description'+i" formControlName='description' class="form-control">
                            </td>
                            <td>
                                <app-delete-button class="pull-right" (click)='deleteTransactionItem(i)'></app-delete-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group row ml-2 mr-2 mt-3">
                <div class="col-md-12">
                  <!-- <button type="button" class="btn btn-primary" (click)="addButtonClick()">
                    Add New
                  </button> -->
                  <app-add-button class="pull-right" (click)="addButtonClick()">
                    Add
                  </app-add-button>
                </div>
            </div>
            <div class="form-group ml-2 mr-2 mt-3">
                <app-save-button (click)="update()"> Update </app-save-button> 
            </div>
        </form>
    </nb-card-body>
</nb-card>