
<form [formGroup]="fourthForm" class="step-container">
<h1>Waiting Truck
</h1>
<p class="lorem">
    If you finished this operation go to next step, for preparing its invoice
</p>   

<hr/>            
    
<div class="row">
    <div class="col-md-8">
    <button status="basic" nbButton nbStepperPrevious> Previous </button>
    </div>
    <div class="col-md-4">
    <div class="row">
        <div class="col-md-7">
        <select class="form-select" formControlName='status' aria-label="... Select Status...">
            <option  *ngFor='let item of fourthsteps' value="{{item.id}}">{{item.name}}</option>
        </select>  
        </div>
        <div class="col-md-5">
        <button status="primary" class="float-right" style="float:right" nbButton nbStepperNext style (click)="NextStep()"> Next Step</button>                        
        </div>
    </div> 
    </div>
</div>

</form>