<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/product-manager">
          Product Manager 
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/product-manager'> 
          </nb-icon>
        </a> {{type}} Products
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <app-add-button routerLink='create'>Create New </app-add-button>
        </div>
        <app-search-input [data]='models' [fields]="['type', 'name']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Type </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Unit Price </th>
                    <th> Sell this </th>
                    <th> Buy this </th>
                    <th> Income Account  </th>
                    <th> Expense Account  </th>
                    <th> Report </th>
                    <th> Status </th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of models; let i = index;'>
                    <td> {{item.product_type.name}} </td>
                    <td> {{item.name}} </td>
                    <td> {{item.description}} </td>
                    <td> {{item.unit_price}} </td>
                    <td> {{item.is_sellable ? 'Yes' : 'No'}} </td>
                    <td> {{item.is_billable ? 'Yes' : 'No'}} </td>
                    <td> {{item.income_account.name}} </td>
                    <td> {{item.expense_account.name}} </td>
                    <td> {{item.report ? 'Yes' : 'No'}} </td>
                    <td>
                        <app-toggle-button [itemId]="item.id" type='status' [checked]='item.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                    </td>
                    <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>