<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/employee-manager">
          Employee Manager
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/employee-manager'> 
          </nb-icon>
        </a> Benefits
    </nb-card-header>
    <nb-card-body>     
        <div>
            <div class="row">
              <div class="col-md-6 col-sm-12 float-left">
                  <app-add-button routerLink="create"> Add New </app-add-button>
              </div>
              <div class="col-md-6 col-sm-12 float:right">
                  <app-search-input (result)='searchOutput($event)' [data]='model'
                      [fields]="['pay_period_id','employee_id']">
                  </app-search-input>
              </div>
            </div>
  
        </div>     
        <table class="table appTable">
              <thead>
                  <tr>
                    <th> Employee </th>
                      <th> Registration Date </th>
                      <th> Amount</th>
                      <th> Payment Period </th>
                      <th> Description </th>
                      <th> Created </th>
                      <th> Status </th>
                      <th> Action </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let item of model'>
                  
                    <td>{{item.employee.name}}</td>
                    <td>{{item.reg_date}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.pay_period}}</td>
                    <!-- <td>{{item.department?.name}}</td> -->
                    <td>{{item.description}}</td>  
                    <td>{{item.created_at}}</td>  
                    <td>
                        <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                        (toggle)='toggleStatus($event)'>
                    </app-toggle-button>
                    </td>       
                      <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-print-button (click)='print(item)'></app-print-button>          
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                      </td>
                  </tr>
              </tbody>
      </table>
      <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
    </nb-card-body>
  </nb-card>
