<form [formGroup]="model" class="step-container">                               
    <div class="row">
        <div class="col-md-6 col-sm-12 float-left">
            <app-add-button (click)='createClicked()'> Add New </app-add-button>
        </div>
    </div>
    <hr/>
    <table class="table table-condensed" style="width:90%">
        <thead>
            <tr>
                <th>
                    Quantity
                </th>
                <th>
                   Description
                </th>
                <th>
                    Waybill No
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of trucks; let i = index;'>
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.way_bill_no}}</td>
                <td>
                    <app-edit-button (click)='editClicked(item)'></app-edit-button>
                    <app-delete-button [itemId]='item.id' (yes)='deleteItem($event)'>
                    </app-delete-button>
                </td>
            </tr>
        </tbody>
    </table>
      
    </form>