
<nb-card>
    <nb-card-header>
        <div *ngIf="id">
            <app-back-button routerLink='/operation-manager/good-removals'></app-back-button>
                Edit Good Removals
         </div> 
        <div *ngIf="id == null">
            <app-back-button routerLink='/operation-manager/good-removals'></app-back-button>
                Create Good Removals
        </div>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Operation</label>  
                    <input fullWidth type="text" value="{{operation_no}}" readonly class=" form-control">
                    <input fullWidth type="hidden" formControlName='operation_id' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Good Removal Date</label>
                    <input fullWidth type="date" formControlName='good_removal_date' class=" form-control">
                </div>
                <div *ngIf="id" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='update()'> Update
                    </app-save-button>
                </div>
                <div *ngIf="id == null" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='create()'> Create
                    </app-save-button>
                </div>
            </div>
                
        </form>
    </nb-card-body>
</nb-card>

