    .container{
    height: 60%;
    align-content: center;
    }
    
    .card{
    //min-height: 60vh;
    margin-top: 70px;
    margin-bottom: auto;
    background-color: rgba(241, 227, 227, 0.253) !important;
    }

    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    .card-header{
        background-color: #1976d2;    
        display: flex;
        box-shadow: 0 2px 5px #0000004d;    
    }
    .card{        
        display: flex;
        box-shadow: 2px 2px 5px #a023234d;
        border-radius: 12px;
    }
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: white;
    color: #369;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: black;
    }
    
    .remember input
    {
    width: 20px;
    height: 25px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: white;
    background-color: #337ab7;
    width: 100px;
    }
        
    .links{
    color: black;
    }
    
    .links a{
    margin-left: 4px;
    color: black;
    }
    .input-group{
        padding:9px;
        height: 40px !important;
    }
    .container{
        background-image: url("../../assets/Images/connected_world.svg");
        //opacity: 75%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 20em;
        scroll-behavior: auto;
    }
    .container .card{
        opacity: 100%;
    }
    @media screen and (min-width: 480px) {
        .card{
          width:35vw;
          //min-width: 420px;
        }
      }
      @media screen and (max-width: 480px) {
          .card{
            width:100vw !important;
            //min-width: 420px;
          }
        }