

  <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body mt-2">
				<form                    
                    name="form"
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                    novalidate
                    >
					<div class="form-group form-group-default mb-2">
						<!-- <div class="input-group-prepend">
							<span class="fa fa-user input-group-text"></span>
						</div> -->
                        <label style="padding-left:5px;" for="username">Username</label>
						<div class="controls">
                            <input
                            type="text"
                            class="form-control"
                            name="username"
                            [(ngModel)]="form.username"
                            required
                            #username="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                            />
                        </div>
					</div>
					<div class="form-group form-group-default">
						<!-- <div class="input-group-prepend">
							<span class="fa fa-key input-group-text"></span>						
                        </div> -->
                        <label style="padding-left:5px;" for="password"> Password </label>
						<div class="controls">
                            
                            <input
                            type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                            />
                        </div>
					</div>
					<div class="row align-items-center remember mt-2">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group mt-3">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">					                    
                    <a href="/forget-password">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>


</div>