
<nb-card>
    <nb-card-header>
        <div *ngIf="id">
            <app-back-button routerLink='/operation-manager/expenses'></app-back-button>
                Edit Expense
         </div> 
        <div *ngIf="id == null">
            <app-back-button routerLink='/operation-manager/expenses'></app-back-button>
                Create Expense
        </div>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-5">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Operation</label>  
                    <input fullWidth type="text" value="{{operation_no}}" readonly class=" form-control">
                    <input fullWidth type="hidden" formControlName='operation_id' class=" form-control">
                </div>
                <div class="row form-group  mr-4">
                    <label class="form-label"> Product </label>                    
                    <select class="form-select" formControlName='product_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of products' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Reference No</label>
                    <input fullWidth type="text" formControlName='reference_no' class=" form-control">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Quantity</label>
                    <input fullWidth type="number" formControlName='quantity' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Unit Cost</label>
                    <input fullWidth type="number" formControlName='unit_cost' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Amount</label>
                    <input fullWidth type="number" formControlName='amount' class=" form-control">
                </div>
                <div *ngIf="id" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='update()'> Update
                    </app-save-button>
                </div>
                <div *ngIf="id == null" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='create()'> Create
                    </app-save-button>
                </div>
            </div>
                
        </form>
    </nb-card-body>
</nb-card>