<nb-card>
    <nb-card-header>
        <app-back-button routerLink="/accounting-manager/journals"></app-back-button>
        Edit Account
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Journal Type</label>
                    <select class="form-select" formControlName='journal_type_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of types' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Code</label>
                    <input fullWidth type="text" formControlName='code' class="form-control" required>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label"> Name</label>
                    <input fullWidth type="text" formControlName='name' class="form-control" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Description</label>
                    <input fullWidth type="text" formControlName='description' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label"> Account</label>
                    <select class="form-select" formControlName='account_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group ml-2 mr-2 mt-3">
                    <app-save-button (click)='update()'> Update
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>