<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/contact-manager">
          Contact Manager 
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/contact-manager'> 
          </nb-icon>
        </a> Agents
    </nb-card-header>
    <nb-card-body>     
        <div>
            <div class="row">
              <div class="col-md-6 col-sm-12 float-left">
                  <app-add-button routerLink="/contact-manager/agents/create"> Add New </app-add-button>
              </div>
              <div class="col-md-6 col-sm-12 float:right">
                  <app-search-input (result)='searchOutput($event)' [data]='models'
                      [fields]="['name','telephone']">
                  </app-search-input>
              </div>
            </div>
  
        </div>     
        <table class="table appTable">   
              <thead class="headTable">
                  <tr>
                      <th> Name </th>
                      <th> Code </th>
                      <th> Tel </th>
                      <th> Email </th>
                      <th> Address </th>
                      <th> Account </th>
                      <th> Group </th>
                      <th> Status </th>
                      <th> Action </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let item of models'>
                  
                      <td>{{item.name}}</td>
                      <td>{{item.code}}</td>
                      <td>{{item.telephone}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.address}}</td> 
                      <td>{{item.account_type?.name}}</td>   
                      <td>{{item.group?.name}}</td>                  
                      <td>
                        <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                      </td>
                      <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                      </td>
                  </tr>
              </tbody>
      </table>
      <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
    </nb-card-body>
  </nb-card>