<nb-card>
    <nb-card-header *ngIf="!isModal">
        <app-back-button routerLink='/operation-manager/containers'></app-back-button>
        Create New Container
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6 col-md-3">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Type</label>                    
                    <select class="form-select" formControlName='container_type_id' aria-label="... Select ...">
                        <option  *ngFor='let item of containerTypes' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Container No</label>
                    <input fullWidth type="text" formControlName='container_no' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Seal No.</label>
                    <input fullWidth type="text" formControlName='seal_no' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Description</label>
                    <input fullWidth type="text" formControlName='description' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Quantity</label>
                    <input fullWidth type="text" formControlName='quantity' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Operation</label>  
                    <input fullWidth type="text" value="{{operation_no}}" readonly class=" form-control">
                    <input fullWidth type="hidden" formControlName='operation_id' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Gross Weight</label>
                    <input fullWidth type="number" formControlName='gross_weight' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Net Weight</label>
                    <input fullWidth type="number" formControlName='net_weight' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Port Out Date</label>
                    <input fullWidth type="date" formControlName='port_out_date' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Empty Date</label>
                    <input fullWidth type="date" formControlName='empty_date' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Return Date</label>
                    <input fullWidth type="date" formControlName='return_date' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Truck No.</label>
                    <input fullWidth type="text" formControlName='truck_no' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Deposit</label>
                    <input fullWidth type="number" formControlName='deposit' class=" form-control">
                </div>    
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Refund</label>
                    <input fullWidth type="number" formControlName='refund' class=" form-control">
                </div>                 
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Gate Pass No</label>
                    <input fullWidth type="text" formControlName='gate_pass_no' class=" form-control">
                </div>               
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Waybill No</label>
                    <input fullWidth type="text" formControlName='gate_pass_no' class=" form-control">
                </div>             
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Declaration No4</label>
                    <input fullWidth type="text" formControlName='declaration_no4' class=" form-control">
                </div>             
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Declaration No</label>
                    <input fullWidth type="text" formControlName='declaration_no' class=" form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Declaration Date</label>
                    <input fullWidth type="date" formControlName='declaration_date' class=" form-control">
                </div>          
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Destination</label>
                    <input fullWidth type="text" formControlName='destination' class=" form-control">
                </div>      
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Certification No</label>
                    <input fullWidth type="text" formControlName='certification_no' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> VGM Form </label>
                    <input fullWidth type="text" formControlName='vgm_form' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Location</label>               
                    <select class="form-select" formControlName='location_id' aria-label="... Select ...">
                        <option  *ngFor='let item of locations' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group ml- mt-30">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>