<nb-card>
    <nb-card-header>
        <app-back-button routerLink="/employee-manager/employees"></app-back-button>
        Create New Employee
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-4">
                <div>
                    <h5>Basic Details</h5>
                </div>
                <div class="from-group ml-2 mr-2">
                    <label class="form-label">Name</label>
                    <input fullWidth type="text" formControlName="name" class="form-control" required >
                </div>
                <div class="form-group ml-2 mr-2">
                    <label class="form-label">Job Title</label>
                    <select class="form-select" formControlName='job_title_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of jobTiltles' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group ml-2 mr-2">
                    <label class="form-label">Department</label>
                    <select class="form-select" formControlName='department_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of departments' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Telephone</label>
                    <input fullWidth type="text" formControlName='telephone' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Gender</label>
                    <select class="form-select" formControlName='gender' aria-label="... Select ...">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group ml-2 mr-2">
                    <label class="form-label"></label>
                    <input fullWidth type="file" formControlName="picture" class="form-control">    
                </div>
                <div class="form-group ml-2 mr-2">
                    <label class="form-label">Group</label>
                    <select class="form-select" formControlName='group_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of groups' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <h5>Contact Details</h5>
                </div>
                <div class="from-group ml-2 mr-2">
                    <label class="form-label">Home Telephone</label>
                    <input fullWidth type="text" formControlName="home_tel" class="form-control">
                </div>
                <div class="from-group ml-2 mr-2">
                    <label class="form-label">Work Telephone</label>
                    <input fullWidth type="text" formControlName="work_tel" class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Work Email</label>
                    <input fullWidth type="text" formControlName='work_email' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Other Email</label>
                    <input fullWidth type="text" formControlName='other_email' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Address</label>
                    <input fullWidth type="text" formControlName='address' class="form-control">
                </div>
                <div>
                    <h5>Job</h5>
                </div>
                <!-- <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Job Specification</label>
                    <input fullWidth type="text" formControlName='jobSpecification' class="form-control">
                </div> -->
                <div class="form-group ml-2 mr-2">
                    <label class="form-label">Status</label>
                    <select class="form-select" formControlName='status_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of statuses' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <h5>Contract</h5>
                </div>
                <div class="from-group ml-2 mr-2">
                    <label class="form-label">Contract Details</label>
                    <input fullWidth type="text" formControlName="contract_details" class="form-control">
                </div>
                <div class="from-group ml-2 mr-2">
                    <label class="form-label">Work Telephone</label>
                    <input fullWidth type="text" formControlName="work_tel" class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Start Date</label>
                    <input fullWidth type="date" placeholder="dd/mm/yyyy" formControlName='start_date' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control" placeholder="dd/mm/yyyy" formControlName="end_date">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">End Reason</label>
                    <input fullWidth type="text" formControlName='end_reason' class="form-control">
                </div>
                <div class="form-group ml-2 mr-2 mt-3">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
