<form [formGroup]="thirdForm" class="step-container">
    <div class="row">                
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Operation No </label>
                <input type="text" readonly formControlName='operation_no' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Declaration No</label>
                <input type="text" formControlName='declaration_no' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Declaration Date </label>
                <input type="date" formControlName='declaration_date' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Vessel Name</label>
                <input type="text" formControlName='vessel_name' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Voyage No</label>
                <input type="text" formControlName='voyage_no' class=" form-control">
            </div>  
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Partial Shipment</label>
                <input type="text" formControlName='partial_shipment' class=" form-control">
            </div>  
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Container Status</label>
                <input type="text" formControlName='container_status' class=" form-control">
            </div>    
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Stuffing Date</label>
                <input type="date" formControlName='stuffing_date' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Gross Weight</label>
                <input type="text" formControlName='gross_weight' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Net Weight</label>
                <input type="text" formControlName='net_weight' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Description</label>
                <input type="text" formControlName='description' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Declaration No ETH</label>
                <input type="text" formControlName='declaration_no_eth' class=" form-control">
            </div>       
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Assigned No Declarant</label>
                <input type="text" formControlName='assigned_no_declarant' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Assigned No Importer</label>
                <input type="text" formControlName='assigned_no_importer' class=" form-control">
            </div>   
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Border Office</label>
                <input type="text" formControlName='border_office' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Clearance Office</label>
                <input type="text" formControlName='clearance_office' class=" form-control">
            </div>
            <div class="form-check mt-25">
                <input class="form-check-input" type="checkbox" value="" formControlName="fumigation">
                <label class="form-check-label" for="fumigation">
                  Fumigation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" formControlName="weight_inspection">
                <label class="form-check-label" for="weight_inspection">
                  Weight Inspection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName='inspection'>
                <label class="form-check-label" for="inspection">
                  Inspection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName='craft_paper'>
                <label class="form-check-label" for="craft_paper">
                  Craft Paper
                </label>
            </div>
            <div class="form-group ml-2 mt-30">

                <label class="form-label"> &nbsp; </label>

                <app-save-button (click)='SaveChangesStepThree()'> Save Changes
                </app-save-button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
          <button status="basic" nbButton nbStepperPrevious> Previous </button>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-7">
              <select class="form-select" formControlName='status' aria-label="... Select Status...">
                <option  *ngFor='let item of steps' value="{{item.id}}">{{item.name}}</option>
            </select>  
            </div>
            <div class="col-md-5">
              <button status="primary" (click)='NextStep()' class="float-right" nbButton nbStepperNext> Next Step</button>                        
            </div>
          </div> 
        </div>
      </div>
</form>
<hr/>
<div class="row">
    <div class="col-md-8" style="font-size: 9px !important;">
        <nb-tabset>     
            <!-- <nb-tab tabTitle="Detail">          
                Detail
            </nb-tab>  -->
            <nb-tab tabTitle="Containers">          
                <operation-container [id]="id" [operation_no]="operation_no"></operation-container>
            </nb-tab>
            <nb-tab tabTitle="Trucks">          
                <operation-truck [id]="id" [operation_no]="operation_no"></operation-truck>
            </nb-tab>
            <nb-tab tabTitle="Cargos">     
                <operation-cargo [id]="id" [operation_no]="operation_no"></operation-cargo>
            </nb-tab><nb-tab tabTitle="Expenses" style="text-transform: none !important;">    
                <operation-expense [id]="id" [operation_no]="operation_no"></operation-expense>
            </nb-tab>    
            <nb-tab tabTitle="Gate Pass">     
                <operation-gate-pass [id]="id" [operation_no]="operation_no"></operation-gate-pass>
            </nb-tab>     
            <nb-tab tabTitle="Waybills">     
                <operation-waybill [id]="id" [operation_no]="operation_no"></operation-waybill>
            </nb-tab>     
            <nb-tab tabTitle="Good Removal">          
                <operation-good-removal [id]="id" [operation_no]="operation_no"></operation-good-removal>
            </nb-tab>    
        </nb-tabset>
    </div>
</div>