
<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/invoice-manager/receive-payments'></app-back-button>
        Receive Payment
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-4">
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> customer</label>       
                    <select class="form-select" formControlName='customer_id' aria-label="... Select ...">
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of customers' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Currency</label>
                    <select class="form-select" formControlName='currency_id' aria-label="... Select ...">
                        <option  *ngFor='let item of currencies' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Date</label>
                    <input fullWidth type="date" formControlName='date' class=" form-control" required>
                </div>
            </div>
            <div class="col-sm-4"> 
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Amount</label>
                    <input fullWidth type="number" formControlName='amount' class=" form-control" required>
                </div>
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Payment Method</label>
                    <select class="form-select" formControlName='Payment_method_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of payment_methods' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Account</label>
                    <select class="form-select" formControlName='account_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Reference</label>
                    <input fullWidth type="text" formControlName='reference' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Remark</label>
                    <input fullWidth type="text" formControlName='remarks' class=" form-control">
                </div>
                <div class="form-group ml-2 mt-30">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

