
<nb-card>
  <nb-card-header>
      
        
    <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
    <a routerLink="/master">
        Master Data <nb-icon icon='chevron-right-outline' status='primary' routerLink='/master'>  </nb-icon>
      </a> Lookups
  </nb-card-header>
  <nb-card-body>
      <div *ngIf='!createMode && !editMode'>
          <div class="row">
            <div class="col-md-6 col-sm-12 float-left">
                <app-add-button (click)='createClicked()'> Add New </app-add-button>
            </div>
            <div class="col-md-6 col-sm-12 float:right">
                <app-search-input (result)='searchOutput($event)' [data]='lookups'
                    [fields]="['name','code']">
                </app-search-input>
            </div>
          </div>

      </div>
      <div *ngIf='createMode || editMode'>
          <form [formGroup]='Lookup'>
              <div class="row">
                  <div class="col-md-1">
                      <button class="btn btn-primary" (click)='closeModes()'>
                          <nb-icon icon='minus-outline' status='control'></nb-icon>
                      </button>
                  </div>
                  <div class="col-md-3">
                      <select class="form-select" formControlName='lookup_type_id' aria-label="... Select ...">
                          <option  *ngFor='let item of lookupTypes' value="{{item.id}}">{{item.name}}</option>
                      </select>
                  </div>
                  <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Name" formControlName='name' required>
                  </div>
                  <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Code" formControlName='code' required>
                  </div>
                  <div *ngIf='editMode' class="col-md-2">
                      <input type="text" class="form-control" placeholder="Local Name" formControlName='local_name'>
                  </div>
                  <div *ngIf='editMode' class="col-md-1">
                      <input type="number" class="form-control" placeholder="Order" formControlName='order'>
                  </div>
                  <div class="col-md-1" *ngIf='createMode'>                      
                      <button (click)='create()' class='btn btn-success btn-md' [disabled]='disabled' type='submit'>
                         <!-- <i class='fa fa-check mr-1'></i> -->
                        <nb-icon icon='checkmark-circle-2-outline' status='control'></nb-icon> <ng-content></ng-content>
                    </button>
                  </div>
                  <div class="col-md-1" *ngIf='editMode'>                      
                      <button (click)='edit()' class='btn btn-success btn-md' [disabled]='disabled' type='submit'>
                            <nb-icon icon='checkmark-circle-2-outline' status='control'></nb-icon>  <ng-content></ng-content> 
                      </button>
                  </div>
              </div>
          </form>
      </div>

      
      <table class="table appTable">
        <thead class="headTable">
            <tr>
                <th>
                  Type
                </th>
                <th>
                  Name
                </th>
                <th>
                  Code
                </th>
                <th>
                  Order
                </th>
                <th> Status</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of lookups'>
            
                <td>{{getLookupTypeName(item)}}</td>
                <td>{{item.name}}</td>
                <td>{{item.code}}</td>                
                <td>{{item.order}}</td>
                <td>
                  <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                      (toggle)='toggleStatus($event)'>
                  </app-toggle-button>
                </td>
                <td>
                  <app-edit-button (click)='editClicked(item)'></app-edit-button>
                  <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
  </nb-card-body>
</nb-card>