<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/operation-manager/operations'></app-back-button>
        Manage Operation
    </nb-card-header>

    <nb-card-body>
        <nb-stepper #stepper orientation="horizontal" [selectedIndex]="selectedActivityIndex" disableStepNavigation="true">
            <nb-step  [stepControl]="firstForm" label="New Operation"  [completed]="stepCompleted(1)">
                <!-- <operation-step-one></operation-step-one> -->
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Vessel Not arrived" [completed]="stepCompleted(2)">
              <hr/>
                <operation-step-two [id]="id"></operation-step-two>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Under Process" [completed]="stepCompleted(3)">
              <hr/>
                <operation-step-three [id]="id" [operation_no]="operation_no"></operation-step-three>                
            </nb-step>
            <nb-step [stepControl]="fourthForm" label="Waiting Truck" [completed]="stepCompleted(4)">
              <hr/>
              <operation-step-four [id]="id"></operation-step-four>

            </nb-step>
            <nb-step [stepControl]="fifthForm" label="Dispatched" [completed]="stepCompleted(5)">
                <hr/>
                <operation-step-five [id]="id"></operation-step-five>
            </nb-step>
            <nb-step [stepControl]="sixthForm" label="Invoiced" [completed]="stepCompleted(6)">
              <div class="step-container">                
                <operation-step-six [id]="id"></operation-step-six>
              </div>
            </nb-step>
            <nb-step [stepControl]="seventhForm" label="Terminated" [completed]="stepCompleted(7)">
              <div class="step-container">
                <h3>
                  <!-- <img src="~/assets/images/"> -->
                  Operation completed!
                </h3>               

                <button status="basic" nbButton nbStepperPrevious> Previous </button>
                <button status="primary" class="float-right" nbButton nbStepperNext style> Next Step</button>
              </div>
            </nb-step>          

            <nb-step [hidden]="true">
                <div class="step-container">
                <h3>Operation completed!</h3>
                <!-- <button nbButton (click)="stepper.reset()">Try again</button> -->
                </div>
            </nb-step>
          </nb-stepper>
    </nb-card-body>
</nb-card>