nb-user, nb-user.context-menu-host, .logout{
  justify-content: flex-end;
}
.logout{
  margin-bottom: 20px;
  float:right;
  justify-content: flex-end;
  display: flex;
}
nb-layout-header{
  background-color: #21507e;
  color: white !important;
  height:65px;
  box-shadow: 2px 2px 10px 0px #080b34;
}
nb-layout-header nav a{
  color: white !important;
}
nb-layout-footer{
  background-color: #12467ad1;
}
nb-sidebar{  
  box-shadow: 5px 3px 5px 1px #a023234d;
}
.footer-custom{
  background-color: #c9ddd6 !important;
}
a.sidebar-toggle{
  padding: 10px;
  display: inline-block;
}
a.sidebar-toggle:hover {
  // border: 1px solid #d7cdcd;
  color: antiquewhite;
  background-color: #224260;
  border-radius: 50%;
}
.sidebar-toggle nb-icon{
  width: 24px;
  height: 24px;
}