<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/operation-manager/operations'></app-back-button>
        Create New Operation
    </nb-card-header>

    <nb-card-body>
        <nb-stepper #stepper orientation="horizontal" [selectedIndex]="0" disableStepNavigation="true">
            <nb-step  [stepControl]="firstForm" label="New Operation" completed="false">
                <hr/>
                <operation-step-one [categoryId]="categoryId"></operation-step-one>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Vessel Not arrived">
                <!-- <operation-step-two></operation-step-two> -->
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Under Process">
                <!-- <operation-step-three></operation-step-three>                 -->
            </nb-step>
            <nb-step [stepControl]="fourthForm" label="Waiting Truck">
              <!-- <form [formGroup]="fourthForm" (ngSubmit)="onFourthSubmit()" class="step-container">
                <h1>Waiting Truck
                </h1>
                <p class="lorem">
                    If you finished this operation go to next step, for preparing its invoice
                </p>
                <input nbInput type="hidden" value="3" class="form-control" formControlName="fourthCtrl"
                   [ngClass]="{'form-control-danger': fourthForm.invalid && (fourthForm.dirty || fourthForm.touched)}">

                <button status="basic" nbButton nbStepperPrevious> Previous </button>
                <button status="primary" class="float-right" nbButton nbStepperNext style> Next Step</button>
              </form> -->
            </nb-step>
            <nb-step [stepControl]="fifthForm" label="Dispatched">
                <!-- <operation-step-five></operation-step-five> -->
            </nb-step>
            <nb-step [stepControl]="sixthForm" label="Invoiced">
              <!-- <div class="step-container">
                
                <operation-step-five></operation-step-five>                

                <button status="basic" nbButton nbStepperPrevious> Previous </button>
                <button status="primary" class="float-right" nbButton nbStepperNext style> Next Step</button>
              </div> -->
            </nb-step>
            <nb-step [stepControl]="seventhForm" label="Terminated">
              <!-- <div class="step-container">
                <h3>Operation completed!</h3>               

                <button status="basic" nbButton nbStepperPrevious> Previous </button>
                <button status="primary" class="float-right" nbButton nbStepperNext style> Next Step</button>
              </div> -->
            </nb-step>          

            <nb-step [hidden]="true">
                <div class="step-container">
                <h3>Operation completed!</h3>
                <!-- <button nbButton (click)="stepper.reset()">Try again</button> -->
                </div>
            </nb-step>
          </nb-stepper>
    </nb-card-body>
</nb-card>