<form [formGroup]="fifthForm" class="step-container">  
                              
<div class="row">
    <div *ngIf='!createExpenseMode && !editExpenseMode'>
        <div class="row">
        <div class="col-md-6 col-sm-12 float-left">
            <app-add-button (click)='createExpenseClicked()'> Add New</app-add-button>
        </div>
        </div>

    </div>
    <div *ngIf='createExpenseMode || editExpenseMode'>
        <form [formGroup]='expenseModel'>
            <input type="hidden" class="form-control" placeholder="reference" formControlName='operation_id' required>
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    Item
                </div>
                <div class="col-md-2">
                    Reference
                </div>
                <div class="col-md-2">
                    Amount
                </div>
                <div class="col-md-1" *ngIf='createExpenseMode'>                      
                    &nbsp;
                </div>
                <div class="col-md-1" *ngIf='editExpenseMode'>                                                         
                    &nbsp;
                </div>                
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-primary" (click)='closeExpenseModes()'>
                        <nb-icon icon='minus-outline' status='control'></nb-icon>
                    </button>
                </div>
                <div class="col-md-3">
                    <select class="form-select" formControlName='product_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of products' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="reference" formControlName='reference_no' required>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" placeholder="amount" formControlName='amount'>
                </div>
                <div class="col-md-1" *ngIf='createExpenseMode'>                      
                    <button (click)='createExpense()' class='btn btn-success btn-md' type='submit'>
                    <nb-icon icon='checkmark-circle-2-outline' status='control'></nb-icon> <ng-content></ng-content>
                </button>
                </div>
                <div class="col-md-1" *ngIf='editExpenseMode'>                      
                    <button (click)='editExpense()' class='btn btn-success btn-md' type='submit'>
                        <nb-icon icon='checkmark-circle-2-outline' status='control'></nb-icon>  <ng-content></ng-content> 
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table table-condensed" style="width:90%">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Ref No.
            </th>
            <th>
                Amount
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of expenses; let i = index;'>
            <td>{{item.product.name}}</td>
            <td>{{item.reference_no}}</td>
            <td>{{item.amount}}</td>
            <td>
                <app-edit-button (click)='editExpenseClicked(item)'></app-edit-button>
                <app-delete-button [itemId]='item.id' (yes)='deleteExpenseItem($event)'>
                </app-delete-button>
            </td>
        </tr>
    </tbody>
</table>

<hr/>
<div class="row">
    <div class="col-md-8">
      <button status="basic" nbButton nbStepperPrevious> Previous </button>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-7">
          <select class="form-select" formControlName='status' aria-label="... Select Status...">
            <option  *ngFor='let item of steps' value="{{item.id}}">{{item.name}}</option>
        </select>  
        </div>
        <div class="col-md-5">
          <button status="primary" (click)='NextStep()' class="float-right" nbButton nbStepperNext style> Next Step</button>                        
        </div>
      </div> 
    </div>
  </div>
  
</form>