
<nb-card>
    <nb-card-header>
        <div *ngIf="id">
            <app-back-button routerLink='/operation-manager/cargos'></app-back-button>
                Edit Cargo
         </div> 
        <div *ngIf="id == null">
            <app-back-button routerLink='/operation-manager/cargos'></app-back-button>
                Create Cargo
        </div>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-5">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Quantity</label>
                    <input fullWidth type="number" formControlName='quantity' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Description</label>
                    <input fullWidth type="text" formControlName='description' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Weight</label>
                    <input fullWidth type="number" formControlName='weight' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Operation</label>  
                    <input fullWidth type="text" value="{{operation_no}}" readonly class=" form-control">
                    <input fullWidth type="hidden" formControlName='operation_id' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Waybill</label>
                    <input fullWidth type="text" formControlName='way_bill_no' class=" form-control">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Truck No</label>
                    <input fullWidth type="text" formControlName='truck_no' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Gate Pass</label>
                    <input fullWidth type="text" formControlName='gate_pass' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Location </label>                    
                    <select class="form-select" formControlName='location_id' aria-label="... Select ...">
                        <option  *ngFor='let item of locations' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Sydonia Ref</label>
                    <input fullWidth type="text" formControlName='sydonia_ref' class=" form-control">
                </div>
                <div *ngIf="id" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='update()'> Update
                    </app-save-button>
                </div>
                <div *ngIf="id == null" class="form-group ml-2 mt-30">
                    <label class="form-label"> &nbsp;</label>
                    <app-save-button (click)='create()'> Create
                    </app-save-button>
                </div>
            </div>
            
                
        </form>
    </nb-card-body>
</nb-card>
