<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/purchase-manager/bills'></app-back-button>
        Edit Bill
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Vendor</label>       
                    <select class="form-select" formControlName='vendor_id' aria-label="... Select ..." required>
                        <option selected>... Select ...</option>
                        <option *ngFor='let item of vendors' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Invoice No</label>
                    <input fullWidth type="text" formControlName='invoice_no' class=" form-control" required>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Date</label>
                    <input fullWidth type="date" formControlName='date' class=" form-control" required>
                </div>
            
                    <div class="row form-group  ml-2 mr-2">
                        <label class="form-label">Due Date</label>
                        <input fullWidth type="date" formControlName='due_date' class=" form-control" required>
                    </div>
            </div>
            <div class="col-sm-6"> 
                <div class="row form-group  ml-2 mr-6">
                    <label class="form-label"> Currency</label>
                    <select class="form-select" formControlName='currency_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of currencies' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Amount</label>
                    <input fullWidth type="number" formControlName='amount' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Remark</label>
                    <input fullWidth type="text" formControlName='remarks' class=" form-control">
                </div>
                <div class="form-group ml-2 mt-30">
                    <app-save-button (click)='update()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

