<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/contact-manager/consignees'></app-back-button>
        Create New Consignee
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Name</label>
                    <input fullWidth type="text" formControlName='name' class="form-control" required>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Code</label>
                    <input fullWidth type="text" formControlName='code' class="form-control" required>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Telephone</label>
                    <input fullWidth type="text" formControlName='telephone' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Email</label>
                    <input fullWidth type="text" formControlName='email' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Address</label>
                    <input fullWidth type="text" formControlName='address' class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Address2</label>
                    <input fullWidth type="text" formControlName='address2' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Bp</label>
                    <input fullWidth type="text" formControlName='bp' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">City</label>
                    <input fullWidth type="text" formControlName='city' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Country</label>
                    <input fullWidth type="text" formControlName='country' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Terms</label>
                    <input fullWidth type="text" formControlName='terms' class="form-control">
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">USD Rate</label>
                    <input fullWidth type="text" formControlName='usd_rate' class="form-control">
                </div>
                <div class="form-group ml-2 mr-2 mt-3">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>