<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/employee-manager">
          Employee Manager
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/employee-manager'> 
          </nb-icon>
        </a> Employees
    </nb-card-header>
    <nb-card-body>     
        <div>
            <div class="row">
              <div class="col-md-6 col-sm-12 float-left">
                  <app-add-button routerLink="create"> Add New </app-add-button>
              </div>
              <div class="col-md-6 col-sm-12 float:right">
                  <app-search-input (result)='searchOutput($event)' [data]='model'
                      [fields]="['name','job_itle']">
                  </app-search-input>
              </div>
            </div>
  
        </div>     
        <table class="table appTable">   
              <thead class="headTable">
                  <tr>
                    <th> Name </th>
                      <th> Job Title </th>
                      <th> Tel</th>
                      <th> Gender </th>
                      <!-- <th> Department </th> -->
                      <th> Group </th>
                      <th> Start Date </th>
                      <th> Gross Salary</th>
                      <th> Status </th>
                      <th> Action </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let item of model'>
                  
                    <td>{{item.name}}</td>
                    <td>{{item.job_title.name}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.gender}}</td>
                    <!-- <td>{{item.department?.name}}</td> -->
                    <td>{{item.group.name}}</td>  
                    <td>{{item.start_date}}</td>  
                    <td>{{item.gross_salary}}</td>
                    <td>{{item.emp_status.name}}</td>       
                      <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <!-- <app-print-button (click)='print(item)'></app-print-button>           -->
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                      </td>
                  </tr>
              </tbody>
      </table>
      <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
    </nb-card-body>
  </nb-card>