<div>
    <div class="row">
        <div class="col-md-6 col-sm-12 float-left">
            <app-add-button routerLink="/operation-manager/operations/create/{{category.id}}"> Add New </app-add-button>
        </div>
        <div class="col-md-6 col-sm-12 float:right">
            <app-search-input (result)='searchOutput($event)' [data]='operations'
                [fields]="['type','operation_no', 'reception_date', 'reference_no']">
            </app-search-input>
        </div>
    </div>

</div> 
<table class="table appTable"> 
<thead class="headTable">
        <tr>
            <th>
                Operation No.
            </th>
            <th>
                Reception Date
            </th>
            <th>
                FF
            </th>
            <th *ngIf="category.code == 'IMM'">
                ATD Operation
            </th>
            <th *ngIf="category.code == 'IMM'">
                ESL Operation
            </th>
            <th  *ngIf="category.code != 'IMM'">
                Ref No
            </th>
            <th>
                Description
            </th>
            <th> Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let operation of operations; let i = index;'>
            <td>{{operation.operation_no}}</td>
            <td>{{operation.reception_date}}</td>
            <td>{{operation.customer.name}}</td>
            <td *ngIf="category.code == 'IMM'">
                {{operation.atd_operation}}
            </td>
            <td *ngIf="category.code == 'IMM'">
                {{operation.esl_operation}}
            </td>
            <td *ngIf="category.code != 'IMM'"> {{operation.reference_no}}</td>
            <td>{{operation.description}}</td>
            <td> 
                <span>
                    {{ GetOperationStatus(operation.status) }}
                </span>
            </td>
            <td>
                <app-edit-button (click)='edit(operation)'></app-edit-button>
                <app-print-button (click)="print(operation)"></app-print-button>
                <app-delete-button [itemId]='operation.id' (yes)='delete($event)'>
                </app-delete-button>
            </td>
        </tr>
    </tbody>
</table>
<app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
</app-pagination>