<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
            <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
            </nb-icon>
            </a>
        <a routerLink="/operation-manager">
            Operation Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/operation-manager'>  </nb-icon>
          </a> Containers
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <!-- <app-add-button routerLink='create'> Create New</app-add-button> -->
        </div>
        <app-search-input [data]='containers' [fields]="['type', 'container_no','voyage_no', 'truck_no', 'operation_no']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Type </th>
                    <th> Container No </th>
                    <th> Operation No. </th>
                    <th> Voyage </th>
                    <!-- <th> Arrival Date </th> -->
                    <th> Return Date </th>
                    <th> Truck No </th>
                    <th> Days </th>
                    <th> Status</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let container of containers; let i = index;'>
                    <td> {{container.container_type.name}}</td>
                    <td> {{container.container_no}}</td>
                    <td> {{container.operation.operation_no}}</td>
                    <td> {{container.voyage_no}}</td>
                    <!-- <td> {{container.arrival_date}}</td> -->
                    <td> {{container.return_date}}</td>
                    <td> {{container.truck_no}}</td>
                    <td> {{container.days}}</td>
                    <td>
                        <app-toggle-button [itemId]='container.id' type='status' [checked]='container.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                      </td>
                    <td>
                        <app-edit-button (click)='edit(container)'></app-edit-button>
                        <app-delete-button [itemId]='container.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>