<nb-card>
  <nb-card-header>
    <a routerLink="/home">
      Home <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'>  </nb-icon>
    </a> Master Data
 
  </nb-card-header>
  <nb-card-body>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-card-body>
</nb-card>
