<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
            <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
            </nb-icon>
            </a>
        <a routerLink="/operation-manager">
            Operation Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/operation-manager'>  </nb-icon>
          </a> Trucks
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <!-- <app-add-button routerLink='create'> Create New</app-add-button> -->
        </div>
        <app-search-input [data]='trucks' [fields]="['truck_no', 'chasis_no', 'way_bill_no', 'quantity']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Chassis No </th>
                    <th> Quantity </th>
                    <th> Description </th>
                    <th> Weight</th>
                    <th>Operation</th>
                    <th>Waybill</th>
                    <th> Truck No</th>
                    <!-- <th> Location </th> -->
                    <th> Status</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of trucks; let i = index;'>
                    <td> {{item.chasis_no}}</td>
                    <td> {{item.quantity}}</td>
                    <td> {{item.description}}</td>
                    <td> {{item.weight}}</td>
                    <td> {{item.operation.operation_no}}</td>
                    <td> {{item.way_bill_no}}</td>
                    <td>{{item.truck_no}}</td>
                    <!-- <td>{{item.location.name}}</td> -->
                    <td>
                        <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                            (toggle)='toggleStatus($event)'>
                        </app-toggle-button>
                      </td>
                    <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>

