<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/purchase-manager">
          Purchase Manager 
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/purchase-manager'> 
          </nb-icon>
        </a> Bills
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <app-add-button routerLink="create">Create New </app-add-button>
        </div>
        <app-search-input [data]='bills' [fields]="['vendor', 'invoice_no']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Invoice No </th>
                    <th> Date </th>
                    <th>Due Date</th>
                    <th>Vendor</th>
                    <th> Amount </th>
                    <th> Currency </th>
                    <th> Status </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of bills; let i = index;'>
                    <td>{{item.invoice_no}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.due_date}}</td>
                    <td>{{item.vendor?.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.currency.name}}</td>
                    <td>{{GetInvoiceStatus(item.status)}}</td>
                    <td>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <!-- <app-print-button (click)="print(item)"></app-print-button> -->
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>