.header{
    // background-color: #1976d2;
    background-color: #5f4c4c;
  }

 ul{
  list-style-type: none;
 }
 

.d-img{
  .d-icon{
  font-size: 50px;
  }
  i{
    color: #3366fc;
  }
}
img{
  width: 50px;
  height:50px;
}
.fa{
  font-size: 50px;
}
.clickable{
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .d-list{
    width: 33.3%;
    outline: none;
  }
}

@media screen and (max-width: 480px) {
  .d-list{
    width: 50%;
    outline: none;
  }
}
.drop-content{
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  li:first-child{
    display: flex;
    flex-direction: column;
  }
  li div{
    margin: auto;
    text-align: center;
  }
}

small{

  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
  width: 50%;
  height: 1.2em;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

.nb-theme-default {
  color: blue;
}

a{
  text-decoration: none;
}
.d-img nb-, .d-img i{  
padding: 5px;
}
.d-img nb-icon:hover,
.d-img i:hover
{
background-color: #a16eff !important;
color: #fff !important;
border-radius: 10%;
padding: 5px;
}
.d-title small:hover{  
color: #a16eff !important;
font-weight: bold;
}