<nb-card>
    <nb-card-body>
        <ul class="notify-drop">
            <div class="drop-content">
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon icon='settings' status='primary' class="clickable d-icon"
                            routerLink='/master'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small class="clickable"
                            routerLink='/master'>Master Data</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <i routerLink='/contact-manager' class="fa fa-address-book-o fa-2x clickable" aria-hidden="true"></i>
                    </div>
                    <div class="d-title">
                        <small routerLink='/contact-manager'
                            class="clickable"> Contact Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon icon='trending-up' status='primary' class="clickable d-icon"
                            routerLink='/operation-manager'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small routerLink='/operation-manager'
                            class="clickable"> Operation Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon routerLink='/invoice-manager' class="d-icon clickable" icon='file-add'
                            status='primary'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small routerLink='/invoice-manager'
                            class="clickable"> Sales Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon routerLink='/purchase-manager' class="d-icon clickable" icon='file-add'
                            status='primary'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small routerLink='/purchase-manager'
                            class="clickable"> Purchase Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <i routerLink='/accounting-manager' class="fa fa-line-chart fa-2x clickable" aria-hidden="true"></i>
                    </div>
                    <div class="d-title">
                        <small routerLink='/accounting-manager'
                            class="clickable"> Accounting Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon routerLink='/payroll-manager' class="d-icon clickable" icon='credit-card'
                            status='primary'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small routerLink='/payroll-manager'
                            class="clickable"> Payroll Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <i routerLink='/product-manager' class="fa fa-product-hunt fa-2x clickable"
                            aria-hidden="true"></i>
                    </div>
                    <div class="d-title">
                        <small routerLink='/product-manager'
                            class="clickable"> Product Manager</small>
                    </div>
                </li>
                <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <i routerLink='/report-manager' class="fa fa-file fa-2x clickable" aria-hidden="true"></i>
                    </div>
                    <div class="d-title">
                        <small routerLink='/report-manager'
                            class="clickable"> Report Manager</small>
                    </div>
                </li>
                <!-- <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <i routerLink='/user-manager' class="fa fa-user-o fa-2x clickable" aria-hidden="true"></i>
                    </div>
                    <div class="d-title">
                        <small routerLink='/user-manager'
                            class="clickable"> User Manager</small>
                    </div>
                </li> -->
                <!-- <li class="d-list mt-4">
                    <div class="d-img mb-1">
                        <nb-icon routerLink='/messenger/messages' class="d-icon clickable"
                            icon='message-circle' status='primary'></nb-icon>
                    </div>
                    <div class="d-title">
                        <small routerLink='/commn-manager'
                            class="clickable"> Communication </small>
                    </div>
                </li> -->
            </div>
        </ul>
    </nb-card-body>
</nb-card>