<nb-card>
    <nb-card-header>                
      <a routerLink="/home"> Home
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
          </nb-icon>
          </a>
      <a routerLink="/accounting-manager">
          Accounting Manager <nb-icon icon='chevron-right-outline' status='primary' routerLink='/accounting-manager'>  </nb-icon>
        </a> Journal Transactions
    </nb-card-header>
    <nb-card-body>
           
      <div>
        <div class="row">
          <div class="col-md-6 col-sm-12 float-left">
              <app-add-button routerLink="create"> Add New </app-add-button>
          </div>
          <div class="col-md-6 col-sm-12 float:right">
              <app-search-input (result)='searchOutput($event)' [data]='transactions'
                  [fields]="['date','reference_no']">
              </app-search-input>
          </div>
        </div>

    </div>   
  
        
        <table class="table appTable">
          <thead class="headTable">
              <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Journal
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Reference
                  </th>
                  <th>Currency</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th> Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let item of transactions'>

                  <td>{{formatDate(item.transaction_date)}}</td>
                  <td>{{item.journal?.name}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.reference_no}}</td>  
                  <td>{{item.currency?.name}}</td>
                  <td>{{item.amount}}</td>  
                  <td>
                    <app-toggle-button [itemId]='item.id' type='status' [checked]='item.status'
                        (toggle)='toggleStatus($event)'>
                    </app-toggle-button>
                  </td>
                  <td>
                    <app-edit-button (click)='edit(item)'></app-edit-button>
                    <app-delete-button [itemId]='item.id' (yes)='delete($event)'></app-delete-button>
                  </td>
              </tr>
          </tbody>
      </table>
      <app-pagination (newData)='newData($event)' [url]='url' dtoName='data'></app-pagination>
    </nb-card-body>
  </nb-card>