<form [formGroup]="firstForm" class="step-container">
    <div class="row">                
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2 mr-6">
                <label class="form-label"> Category</label>       
                <select class="form-select" formControlName='category_id' aria-label="... Select ...">
                    <option selected>... Select ...</option>
                    <option *ngFor='let item of categories' value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Operation No.</label>
                <input type="text" formControlName='operation_no' class="form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Ref. No.</label>
                <input type="text" formControlName='reference_no' class="form-control">
            </div>
            <div class="row form-group  ml-2 mr-2 mr-6">                    
                <label class="form-label">Consignee</label>            
                <select class="form-select" formControlName='consignee_id' aria-label="... Select ...">
                    <option selected>... Select ...</option>
                    <option *ngFor='let item of consignees' value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="row form-group  ml-2 mr-2 mr-6">
                <label class="form-label"> Freight Forwarder</label>                
                <select class="form-select" formControlName='freight_forwarder_id' aria-label="... Select ...">
                    <option selected>... Select ...</option>
                    <option *ngFor='let item of customers' value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Reception Date</label>
                <input type="date" formControlName='reception_date' class="form-control">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Reg. Date</label>
                <input type="date" formControlName='registration_date' class="form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> ATD Operation</label>
                <input type="text" formControlName='atd_operation' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> ESL Operation</label>
                <input type="text" formControlName='esl_operation' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> BOL</label>
                <input type="text" formControlName='bol' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Qty</label>
                <input type="number" formControlName='quantity' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label">Gross Weight</label>
                <input type="text" formControlName='gross_weight' class=" form-control">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="row form-group  ml-2 mr-2 mr-6">
                <label class="form-label"> Loading</label>                    
                <!-- <nb-select fullWidth formControlName='loading_type_id'
                 placeholder='... Select ...'>
                    <nb-option *ngFor='let item of loadingTypes' value="{{item.id}}">{{item.name}}
                    </nb-option>
                </nb-select> -->
                <select class="form-select" formControlName='loading_type_id' aria-label="... Select ..." 
                    (change)="LoadingTypeChanged($event)">
                    <option selected>... Select ...</option>
                    <option *ngFor='let item of loadingTypes' value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div *ngIf="showTotalVehicleCBM" class="row form-group  ml-2 mr-2">
                <label class="form-label"> Total Vehicle </label>
                <input type="number" formControlName='total_vehicle' class=" form-control">
            </div>
            <div *ngIf="showTotalVehicleCBM" class="row form-group  ml-2 mr-2">
                <label class="form-label"> Total CBM </label>
                <input type="number" formControlName='total_cbm' class=" form-control">
            </div>
            <div *ngIf="showContainerNo" class="row form-group  ml-2 mr-2">
                <label class="form-label"> Total Contaners 20' </label>
                <input type="number" formControlName='total_containers_20' class=" form-control">
            </div>
            <div *ngIf="showContainerNo" class="row form-group  ml-2 mr-2">
                <label class="form-label"> Total Contaners 40' </label>
                <input type="number" formControlName='total_containers_40' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Destination</label>
                <input type="text" formControlName='destination' class=" form-control">
            </div>
            <div class="row form-group  ml-2 mr-2 mr-6">
                <label class="form-label"> Agent</label>                    
                <select class="form-select" formControlName='agent_id' aria-label="... Select ...">
                    <option selected>... Select ...</option>
                    <option *ngFor='let item of agents' value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Arrival Date</label>
                <input type="date" formControlName='arrival_date' class="form-control">
            </div>
            <div class="row form-group  ml-2 mr-2">
                <label class="form-label"> Choose File</label>
                <input type="file" class="form-control" formControlName="attachement_file" (change)="onFileSelect($event)">
            </div>
            <div class="form-group ml-2 mt-25">
                <!-- <app-save-button (click)='create()'> Save Changes
                </app-save-button> -->
                <button status="success" (click)='SaveChangesStepOne()' nbButton> Create </button>
            </div>
        </div>
    </div>
</form>