
<nb-card>
    <nb-card-header>
        <div *ngIf="id">
            <app-back-button routerLink='/employee-manager/leaves'></app-back-button>
                Edit Leave
         </div> 
        <div *ngIf="id == null">
            <app-back-button routerLink='/employee-manager/leaves'></app-back-button>
                Create Leave
        </div>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-5">
                <div class="row form-group ml-2 mr-2">
                    <label class="form-label"> Employee </label>                    
                    <select class="form-select" formControlName='employee_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of employees' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group ml-2 mr-2">
                    <label class="form-label"> Leave Type </label>                    
                    <select class="form-select" formControlName='leave_type_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of leave_types' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Start Date</label>
                    <input fullWidth type="date" formControlName='start_date' class=" form-control" placeholder="{{today}}">
                </div>
            </div>
            <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="row form-group  ml-2 mr-2">
                        <label class="form-label">End Date</label>
                        <input fullWidth type="date" formControlName='end_date' class=" form-control" placeholder="{{today}}">
                    </div>
                    <div class="row form-group  ml-2 mr-2">
                        <label class="form-label">Remarks</label>
                        <input fullWidth type="text" formControlName='remark' class=" form-control">
                    </div>
                    <div *ngIf="id" class="form-group ml-2 mt-30">
                        <label class="form-label"> &nbsp;</label>
                        <app-save-button (click)='update()'> Update
                        </app-save-button>
                    </div>
                    <div *ngIf="id == null" class="form-group ml-2 mt-30">
                        <label class="form-label"> &nbsp;</label>
                        <app-save-button (click)='create()'> Create
                        </app-save-button>
                    </div>
                </div>
        </form>
    </nb-card-body>
</nb-card>


