<p>Place your dashboard works here!</p>
<nb-card>
    <nb-card-body>
        Card 1
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        Card 2
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        Card 3
    </nb-card-body>
</nb-card>