<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/invoice-manager/invoices/{{invoice_type}}'></app-back-button>
        View {{invoice_type}} Invoice Detail
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="row">
                <label class="form-label"> INVOICE: {{obj.invoice_no}} 
                    <span class="label label-{{GetInvoiceStatus(obj.status)}}" style="margin-left:10px;color:white;padding:7px;">
                    {{GetInvoiceStatus(obj.status)}} 
                    </span>
                </label> 
                <hr/>
            </div>
            <table class="table appTable">
                <tr>
                    <td> Customer </td> <th> {{obj.customer?.name}} </th>
                    <td> Operation </td> <th> {{obj.operation.operation_no}} </th>
                    <td> Invoice No </td> <th> {{obj.invoice_no}} </th>
                </tr>
                <tr>
                    <td> Invoice Date </td> <th> {{obj.invoice_date}} </th>
                    <td> Currency </td> <th> {{obj.currency.name}} </th>
                    <td> Amount </td> <th> {{obj.amount}} </th>
                </tr>
                <tr>
                    <td> Consignee </td> <th> {{obj.consignee?.name}} </th>
                    <td> Remark </td> <th> {{obj.remarks}} </th>
                    <td> &nbsp; </td> <td> &nbsp; </td>
                </tr>
            </table>
        </form>
        <hr>
        <table class="table appTable">
            <thead>
                <th> Item </th>
                <th> Reference </th>
                <th> Quantity </th>
                <th> Unit Cost </th>
                <th> Total </th>
                <th> Action </th>
            </thead>
            <tbody>
                <tr *ngFor="let exp of invoiceItems">
                    <td> {{exp.product.name}} </td>
                    <td> {{exp.reference_no}} </td>
                    <td> {{exp.quantity}} </td>
                    <td> {{exp.unit_cost}} </td>
                    <td> {{exp.amount}} </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>