
<nb-card>
    <nb-card-header>
        <div *ngIf="id">
            <app-back-button routerLink='/employee-manager/benefits'></app-back-button>
                Edit Benefit
         </div> 
        <div *ngIf="id == null">
            <app-back-button routerLink='/employee-manager/benefits'></app-back-button>
                Create Benefit
        </div>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-5">
                <div class="row form-group ml-2 mr-2">
                    <label class="form-label"> Employee </label>                    
                    <select class="form-select" formControlName='employee_id' aria-label="... Select ..." required>
                        <option  *ngFor='let item of employees' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Registration Date</label>
                    <input fullWidth type="date" formControlName='reg_date' class=" form-control" placeholder="{{today}}">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Amount</label>
                    <input fullWidth type="number" formControlName='amount' class=" form-control">
                </div>   
            </div>
            <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="row form-group  ml-2 mr-2">
                        <label class="form-label">Description</label>
                        <input fullWidth type="text" formControlName='description' class=" form-control">
                    </div>
                    <div class="row form-group ml-2 mr-2">
                        <label class="form-label"> Payment Period </label>                    
                        <select class="form-select" formControlName='pay_period_id' aria-label="... Select ..." required>
                            <option  *ngFor='let item of pay_periods' value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="id" class="form-group ml-2 mt-30">
                        <label class="form-label"> &nbsp;</label>
                        <app-save-button (click)='update()'> Update
                        </app-save-button>
                    </div>
                    <div *ngIf="id == null" class="form-group ml-2 mt-30">
                        <label class="form-label"> &nbsp;</label>
                        <app-save-button (click)='create()'> Create
                        </app-save-button>
                    </div>
                </div>
        </form>
    </nb-card-body>
</nb-card>


