
<hr/>
<button  
class="btn btn-primary" type="button" id="print" (click)="PrintElement()">
    Print Report </button>

<hr/>
<div class="container" id="invoice-report-div" style="background-color: white;">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 mt-1">
            <img style="height:110px;" src="assets\Images\header.png" alt="Company Logo">
            <!-- <img src="assets\Images\header-1.png" alt="Company Info"> -->
            <!-- <div>
                <p style="text-align: center;"> STUFFING REPORT </p> 
            </div> -->
        </div>
    </div>
    
    <h4 style="text-align: center;"> INVOICE REPORT </h4>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <table class="table table-bordered">   
                <thead>
                    <tr>
                        <th> Consignee </th>
                        <td>{{data.consignee?.name}}</td>
                    </tr>
                    <tr>
                        <th> Reference </th>
                        <td>{{data.operation.reference_no}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{data.operation.description}}</td>
                    </tr>
                    <tr>
                        <th> B/L </th>
                        <td>{{data.operation.bol}}</td>
                    </tr>
                    <tr>
                        <th> Operation No </th>
                        <td>{{data.operation.operation_no}}</td>
                    </tr>
                    <tr>
                        <th> Regis. No DJ </th>
                        <td>{{data.operation.booking_no}}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-4 ml-1">
            <table class="table table-bordered">   
                <thead>
                    <tr>
                        <th> Freight Forwarder </th>
                        <td>{{data.customer?.name}}</td>
                    </tr>
                    <tr>
                        <th> Shipper </th>
                        <td>{{data.consignee?.name}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{data.invoice_no}}</td>
                    </tr>
                    <tr>
                        <th> Invoice Date </th>
                        <td>{{data.invoice_date | date}}</td>
                    </tr>
                        <tr>
                        <th> Declaration No </th>
                        <td>{{operationProcess.declaration_no}}</td>
                        </tr> 
                        <tr>
                        <th> Status </th>
                        <td>{{GetInvoiceStatus(data.status)}}</td>
                        </tr> 
                </thead>
            </table>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <table class="table table-bordered">   
                <thead>
                    <tr>
                        <th> No </th>
                        <th>Description</th>
                        <th> Reference</th>
                        <th> Amount </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceItems;let indexOfelement=index;">
                        <td>{{indexOfelement+1}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.reference_no}}</td>
                        <td>{{item.amount}}</td>
                    </tr>
                    <tr style="border-left:0px">
                        <td style="border-left:0px" colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;margin-right:3px">
                            <b>Total</b>
                        </td>
                        <td> <b>{{totalAmount}} DJF</b> </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;margin-right:3px">
                            <b>USD ($1=175 Djf)	</b>
                        </td>
                        <td> <b>{{convertUSDRate(totalAmount)}}</b> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <table class="table table-bordered">
                <tr >
                   <td>
                    <span style="font: 11px Helvetica, Sans-Serif;">
                        AMOUNT IN WORD:<strong> ONE MILLION, SIXTY-SIX THOUSAND, TWO HUNDRED AND TWENTY DJF </strong>                        
                    </span>
                   </td>
                </tr>
            </table>
        </div>
        <div class="terms">
            <h5 style="text-align: center;" class="mt-1"> THANKS  FOR  YOUR    COLLABORATION </h5>
        </div>
    </div>
    
</div>