<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/operation-manager">
          Operation Manager 
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/operation-manager'> 
          </nb-icon>
        </a> Operation
    </nb-card-header>
    <nb-card-body>  
        <nb-tabset (changeTab)="changeTab($event)">    
            <nb-tab *ngFor="let item of categories;let indexOfelement=index" active="{{indexOfelement==0}}" tabTitle="{{item.name}}">  
                <app-operation-tab [category]="item"></app-operation-tab>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>