<nb-card>
    <nb-card-header>
        <a routerLink="/home"> Home
        <nb-icon icon='chevron-right-outline' status='primary' routerLink='/home'> 
        </nb-icon>
        </a>
      <a routerLink="/invoice-manager">
          Invoice Manager 
          <nb-icon icon='chevron-right-outline' status='primary' routerLink='/invoice-manager'> 
          </nb-icon>
        </a> {{invoice_type}} Invoices
    </nb-card-header>
    <nb-card-body>
        <div class="float-left mb-2">
            <app-add-button routerLink="create">Create New </app-add-button>
        </div>
        <app-search-input [data]='invoices' [fields]="['type', 'invoice_no']"
            (result)='searchOutput($event)'>
        </app-search-input>
        <table class="table appTable">
            <thead>
                <tr>
                    <th> Invoice No </th>
                    <th> Date </th>
                    <th> Customer </th>
                    <th> Consignee </th>
                    <th> Operation </th>
                    <th> Currency </th>
                    <th> Status </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of invoices; let i = index;'>
                    <td>{{item.invoice_no}}</td>
                    <td>{{item.invoice_date}}</td>
                    <td>{{item.customer?.name}}</td>
                    <td>{{item.consignee?.name}}</td>
                    <td>{{item.operation.operation_no}}</td>
                    <td>{{item.currency.name}}</td>
                    <td>{{GetInvoiceStatus(item.status)}}</td>
                    <td>
                        <app-view-button (click)='view(item)'></app-view-button>
                        <app-edit-button (click)='edit(item)'></app-edit-button>
                        <app-print-button (click)="print(item)"></app-print-button>
                        <app-delete-button [itemId]='item.id' (yes)='delete($event)'>
                        </app-delete-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-pagination [url]='url' (newData)='newData($event)' dtoName='data'>
        </app-pagination>
    </nb-card-body>
</nb-card>