<nb-card>
    <nb-card-header>
        <app-back-button routerLink='/product-manager/products/{{type}}'></app-back-button>
        Create New Product
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="model" class="row">
            <div class="col-sm-4">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label"> Type </label>
                    <select class="form-select" formControlName='product_type_id' aria-label="... Select ...">
                        <option  *ngFor='let item of productTypes' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Name</label>
                    <input fullWidth type="text" formControlName='name' class=" form-control" required>
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label"> Description</label>
                    <input fullWidth type="text" formControlName='description' class=" form-control">
                </div>
                <div class="row form-group  ml-2 mr-2">
                    <label class="form-label">Unit Price</label>
                    <input fullWidth type="number" formControlName='unit_price' class=" form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label">Billable Account</label>
                    <select class="form-select" formControlName='invoice_account_id' aria-label="... Select ...">
                        <option  *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label"> Income Account</label>
                    <select class="form-select" formControlName='income_account_id' aria-label="... Select ...">
                        <option  *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group  ml-2 mr-2">
                    <label class="form-label"> Expense Account</label>
                    <select class="form-select" formControlName='exp_account_id' aria-label="... Select ...">
                        <option  *ngFor='let item of accounts' value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row form-group  ml-2 mr-2 mt-4">
                    <input fullWidth class="form-check-input" formControlName='is_billable' type="checkbox" value="" id="is_billable">
                    &nbsp; Billable
                </div>
                <div class="row form-group  ml-2 mr-2 mt-3">
                    <input fullWidth class="form-check-input" formControlName='is_sellable' type="checkbox" value="" id="is_sellable">
                    &nbsp; Sell This
                </div>
                <div class="row form-group  ml-2 mr-2 mt-3">
                    <input fullWidth class="form-check-input" formControlName='purchasable' type="checkbox" value="" id="purchasable">
                    &nbsp; Buy This
                </div>
                <div class="row form-group  ml-2 mr-2 mt-3">
                    <input fullWidth class="form-check-input" formControlName='view_at_invoice_detail' type="checkbox" value="" id="view_at_invoice_detail">
                    &nbsp; View at Invoice Detail
                </div>
                <div class="row form-group  ml-2 mr-2 mt-3">
                    <input fullWidth class="form-check-input" formControlName='trackable' type="checkbox" value="" id="trackable">
                    &nbsp; Invoice Tracking
                </div>
                <div class="row form-group  ml-2 mr-2 mt-3">
                    <input fullWidth class="form-check-input" formControlName='disp_at_operation_exp' type="checkbox" value="" id="disp_at_operation_exp">
                    &nbsp; Display at Operation Exp
                </div>
                <div class="form-group ml-2 mt-4">
                    <app-save-button (click)='create()'> Save
                    </app-save-button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>